@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.header {
  font-family: 'Tilt Neon', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 2rem;
  color: black;
  position: relative;
  border-radius: 10px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/headerBack.png');
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  border-radius: 10px;
}

.headerLink {
  font-family: 'Tilt Neon', sans-serif;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 246, 152, 0.8); 
  border-radius: 5px;
}

.headerLink:hover {
  background-color: #ff873b;
}

.headerTitle {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 246, 152, 0.8); 
  margin-left: 2rem;
}

.logo {
  width: 75%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.linksContainer{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
}
