.main {
    background-color: #f0f1e3;
    padding: 20px;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    align-items: center;
    height: 100vh;
    width: 100%;

    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none; /* För Firefox */
}

.main::-webkit-scrollbar {
    display: none; /* För Chrome, Safari och Opera */
}
